version: '3.8'

services:
  distfit:
    container_name: distfit
    image: distfit:latest
    restart: on-failure
    logging:
      options:
        max-size: 10m
        max-file: '3'
    ports:
      - '9000:7070'
  distfit-postgres:
    container_name: distfit-postgres
    image: postgres:latest
    restart: on-failure
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=DistFit
    logging:
      options:
        max-size: 10m
        max-file: '3'
    ports:
      - '5432'
    volumes:
      - distfit-postgres-volume:/var/lib/postgresql/data

volumes:
  distfit-postgres-volume:
  