<div class="list-group">
  <div repeat.for="measurementType of measurementTypes">
    <a href="#" class="list-group-item list-group-item-action list-group-item-light
    ${measurementType === activeMeasurementType ? 'active' : ''} 
    ${$index === 0 ? 'distfit-top-nav-button' : ''}
    ${$index === measurementTypes.length - 1 ? 'distfit-bottom-nav-button' : ''}"
    click.trigger="makeActive($index)">
      ${measurementType.name}
    </a>
  </div>
    <!--<a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>-->
</div>