.gradient-custom {
    background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
      linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
      linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
      radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
      radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
  }

  .distfit-navbar-item {
    margin-left: 20px;
  }

  .distfit-home-heading {
    height: 40%;
  }

  .distfit-top-nav-button {
    border-top-right-radius: 10px!important;
    border-top-left-radius: 10px!important;
  }

  .distfit-bottom-nav-button {
    border-bottom-right-radius: 10px!important;
    border-bottom-left-radius: 10px!important;
  }

  .distfit-navbar-last-item {
    margin-right: 20px;
  }