<import from="../../components/exercise-types/ExerciseTypesNav"></import>

<div if.bind="!identityService.identityState.user" class="row d-flex h-100 align-items-center">
    <div class="col md-6">
        <h1 class="text-center">Please sign in!</h1>
    </div>
</div>
<div else class="row d-flex h-100 justify-content-center text-center align-items-center">
    <div class="card">
        <nav class="navbar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#typesNav" aria-expanded="false" aria-controls="typesNav" aria-label="Toggle navigation">
                Types
            </button>
            <button class="btn btn-info" click.trigger="toRecentExercisesAsync()">
                Recent Exercises
            </button>
            <button class="btn btn-info" click.trigger="toAddExerciseAsync()">
                Add
            </button>
        </nav>
        <exercise-types-nav class="collapse" id="typesNav"></exercise-types-nav>
        <hr/>
        <div class="card-body pt-3">
                
            <div if.bind="exerciseType && maxSetEntries">
                <h4 class="card-title text-center">${exerciseType.name}</h4>
                <p>The graph reflects the highest weight within any given performance. Hover over points to see exact values. Change unit below.</p>
            </div>
            <div if.bind="!exerciseType">
                <h4>${message}</h4>
                <table if.bind="performances.length !== 0" class="table">
                    <thead>
                      <tr>
                        <th scope="col">Exercise</th>
                        <th scope="col">Performed</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr repeat.for="perf of performances">
                            <td>${perf.userExercise.exerciseType.name}</td>
                            <td>${toLocaleDateString(perf.performedAt)}</td>
                            <td><button class="btn btn-warning entry-btn-${$index}" click.trigger="loadSetPage(perf.id, $index)">Entries</button></td>
                        </tr>
                    </tbody>
                  </table>
            </div>

            <h5 if.bind="exerciseType && !maxSetEntries">${message}</h5>
            <canvas if.bind="exerciseType && !message.includes('No')" id="scatterChart"></canvas>

                <button class="btn btn-light m-3" repeat.for="calc of calcArray" click.trigger="setSetEntriesToCalcArray($index)">${calc.valueType}</button>
        </div>

    </div>
</div>