<div if.bind="!identityService.identityState.user" class="row d-flex h-100 align-items-center">
    <div class="col md-6">
        <h1 class="text-center">Please sign in!</h1>
    </div>
</div>
<div else class="row d-flex h-100 justify-content-center text-center align-items-center">
    <div class="card">
        <div class="card-body pt-3">
                
            <div>
                <h4 if.bind="performance">${performance.userExercise.exerciseType.name} Entries - ${toLocaleDateString(performance.performedAt)}</h4>
                <p if.bind="error" class="text-danger">${error}</p>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Entry Nr.</th>
                        <th scope="col">Quantity</th>
                        <th if.bind="!isNoWeightPerformance()" scope="col">Weight</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr repeat.for="set of sets">
                            <th scope="row">${$index + 1}</th>
                            <td>${set.quantity + set.quantityUnit.symbol}</td>
                            <td if.bind="set.weight !== undefined">${set.weight + set.weightUnit.symbol}</td>
                            <td class="d-flex justify-content-end"><button click.trigger="deleteSetAsync($index)" class="btn close delete-btn-${$index}" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button></td>
                        </tr>
                    </tbody>
                  </table>
                  <p if.bind="addingError" class="text-danger">${addingError}</p>
                  <div if.bind="adding" class="d-flex container justify-content-center">
                  <div class="d-flex row mb-3">
                    <div class="input-group col-sm d-flex m-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Quantity:</span>
                        </div>
                        <input class="form-control" type="number" value.bind="quantityValue"></input>
                        <select value.bind="quantityUnitId" class="form-control">
                            <option value="0" disabled>Choose unit</option>
                            <option repeat.for="unit of quantityUnits" value.bind="unit.id">${unit.symbol}</option>
                        </select>
                    </div>
                    <div class="input-group col-sm d-flex m-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Weight:&nbsp;&nbsp;</span>
                        </div>
                        <input class="form-control" type="number" value.bind="weightValue"></input>
                        <select value.bind="weightUnitId" class="form-control">
                            <option value="0" disabled>Choose unit</option>
                            <option repeat.for="unit of weightUnits" value.bind="unit.id">${unit.symbol}</option>
                        </select>
                    </div>
                  </div>
                </div>
                  <button if.bind="!adding" class="btn btn-info" click.trigger="addingSet()">Add Entry</button>
                  <span if.bind="adding && !load">
                    <button class="btn btn-success" click.trigger="addSetAsync()">Add</button>
                    <button class="btn btn-danger" click.trigger="cancelAdding()">Cancel</button>
                    <hr/>
                  </span>
                  <span if.bind="adding && load">
                    <h5 >Loading...</h5>
                    <hr/>
                  </span>
                  <button class="btn btn-light" click.trigger="loadPerformancesAsync()">Back To List</button>
            </div>

        </div>

    </div>
</div>