<import from="../../components/measurement-types/MeasurementTypesNav"></import>

<div if.bind="!identityService.identityState.user" class="row d-flex h-100 align-items-center">
    <div class="col md-6">
        <h1 class="text-center">Please sign in!</h1>
    </div>
</div>
<div else class="row d-flex h-100 justify-content-center text-center align-items-center">
    <div class="card">
        <nav class="navbar">
            <button class="btn btn-info">
                Saved Programs
            </button>
        </nav>
        <hr/>
            <div class="card-body pt-3">

                <h4>My Saved Programs</h4>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Duration</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr repeat.for="program of programs">
                            <td>${program.name}</td>
                            <td>${program.duration} ${program.durationUnit.name.toLowerCase()}${program.duration > 1 ? 's' : ''}</td>
                          </tr>
                        </tbody>
                      </table>
            </div>
    </div>
</div>