<import from="../components/measurement-types/MeasurementTypesNav"></import>

<div if.bind="identityState.user === null" class="row d-flex h-100 align-items-center">
    <div class="col md-6">
        <h1 class="text-center">Please sign in!</h1>
    </div>
</div>
<div else class="row d-flex h-100 align-items-center">
    <div class="col-md-3">
        <measurement-types-nav></measurement-types-nav>
    </div>
    <div class="col md-6 card">
            <div class="card-body p-5">
      
                <div class="d-flex justify-content-center">
                
                    <h4 if.bind="measurementType !== undefined" class="card-title text-center">${measurementType.name}</h4>
                    <h4 else>Please select a type</h4>
                </div>
            
            </div>
    </div>
</div>