<import from="../../components/measurement-types/MeasurementTypesNav"></import>

<div class="card">
    <div class="row no-gutters">
        <div class="col-md-3">
            <measurement-types-nav measurement-types.bind="measurementTypes" active-measurement-type.bind="activeMeasurementType"></measurement-types-nav>
        </div>
        <div class="col-md-6">
            <div class="card-body p-5">
      
                <div class="d-flex align-items-center">
                
                    <h4 class="card-title">Measurements</h4>
                </div>
            
            </div>
        </div>
    </div>
</div>