<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand distfit-navbar-item" href="#">DistFit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-id" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-nav-id">
    <ul class="navbar-nav">
      <li class="nav-item distfit-navbar-item active">
        <a class="nav-link" href="#">Measurements</a>
      </li>
    </ul>
  </div>
</nav>